<p id="notice"><%= notice %></p>

<h1>Listing Deliverables</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Attachment</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deliverables.each do |deliverable| %>
      <tr>
        <td><%= deliverable.name %></td>
        <td><%= deliverable.attachment %></td>
        <td><%= deliverable.description %></td>
        <td><%= link_to 'Show', deliverable %></td>
        <td><%= link_to 'Edit', edit_deliverable_path(deliverable) %></td>
        <td><%= link_to 'Destroy', deliverable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deliverable', new_deliverable_path %>
