<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deliverable.name %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @deliverable.attachment %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deliverable.description %>
</p>

<%= link_to 'Edit', edit_deliverable_path(@deliverable) %> |
<%= link_to 'Back', deliverables_path %>
